@page
@model CousreManagement_TungPV_WebRazorPage.Pages.Attendances.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Attendance</h1>
<form method="post" class="spaceBody">
    Search Name:
    <input type="text" name="SearchKey" />
    <input type="submit" value="Search" />
</form>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attendance[0].Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Attendance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
